@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column ;
    align-items: center;
    /* justify-content: center; */
    padding: 10% 20%;
}

input[type=checkbox]:checked+.item_input {
    text-decoration: line-through;
}